@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.ProseMirror {
  margin: auto;
  line-height: 1.1em;
  min-height: 90vh;
  color: black;
  font-family: courier_prime, courier_primecyrillic, CourierPrime, Courier, courier, CourierNext,
    monospace;
  font-size: 20px;
  padding-block-end: 1em;
  padding-block-start: 1em;
  margin-left: 10vw;
  margin-right: 7vw;
}
.ProseMirror:focus-visible {
  outline: none;
}

@media screen and (max-width: 1080px) {
  .ProseMirror {
    font-size: 1.5vw;
    margin-left: 7vw;
    margin-right: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .ProseMirror {
    font-size: 1vw;
    margin-left: 7vw;
    margin-right: 4vw;
  }
}

@media screen and (orientation: portrait) and (max-device-width: 767px) {
  .ProseMirror {
    font-size: 3.3vw;
    margin-left: 3vw;
    margin-right: 2vw;
  }
}

.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}
.editor__footer {
  align-items: center;
  background: #0d0d0d;
  border-radius: 0.25rem;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  padding: 0.25rem;
  z-index: 100;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.editor__header {
  position: absolute;
  top: 0px;
  align-items: center;
  background: #0d0d0d;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: right;
  height: 9vh;
  width: 100vw;
  box-shadow: 0 2px 5px rgba(59, 65, 94, 0.2);
  z-index: 1002;
}
.editor__header button {
  position: absolute;
  /* top: 0; */
  right: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0.5rem;
  border-color: rgba(255, 255, 255, 0.5);
}
.editor__header button:hover {
  border-color: white;
  background-color: rgb(45, 45, 45);
}
.editor__header svg {
  height: 20px;
  position: absolute;
  width: 20px;
  left: 50%;
  transform: translateX(-250%);
}
.room-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: inherit;
  font-weight: bolder;
  font-size: larger;
}
.header-container {
  justify-content: space-between;
  display: flex;
  width: inherit;
  align-items: center;
}
.MuiMenu-list {
  padding-top: 4px;
  padding-bottom: 4px;
}

.container {
  padding-top: 9vh;
  width: 845px;
  box-shadow: 0 0 5px rgba(59, 65, 94, 0.2);
}

@media (min-width: 320px) {
  .container {
    max-width: 520px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 630px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.editor {
  overflow-y: hidden;
}
.App {
  overflow-y: scroll;
  height: 100vh;
}

.menu-container {
  width: 300px;
  height: 78vh;
  transition: transform 300ms ease 0s, opacity 600ms ease 0s;
  transform: translateX(-100%);
}

.menu-container.open {
  display: block;
  transition: transform 600ms ease 0s, opacity 200ms ease 0s, z-index 1s ease 1s !important;
  transform: translateX(0);
  z-index: 1002;
}
.button-container {
  z-index: 1001;
}
.menu-items li {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  box-sizing: border-box;
  height: 2rem;
  flex-grow: 1;
}
.menu-items li:hover {
  background-color: #d0ebff;
  font-weight: bold;
}
.menu-items li button {
  height: 100%;
  width: 100%;
  position: relative;
}
.fcol {
  min-width: 1px;
  background-color: #b2b3c4;
}
.login-container div {
  font-size: small;
}
.login-container input::placeholder {
  font-size: 0.75rem;
  color: #b2b3c4;
}
.login-container label {
  padding-left: 0.2rem;
}

.tippy-content button {
  font-size: inherit;
  font-family: inherit;
  color: #000;
  margin: 0.1rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.1rem 0.4rem;
  background: white;
  accent-color: black;
}
